/*
 @Author: Dominik Ryñko
 @Website: http://rynko.pl/prosta-strona-oparta-o-html5-i-css2-1/
 @Version: 1.2
*/

* {
    margin: 0 auto;
    padding: auto;
}

html {
    background-color: white;
}

a:link,
a:visited {
    text-decoration: none;
}

body {
    width: 1000px;
    margin: auto;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    min-height: 709px;
}

#header {
    height: 170px;
    background-color: grey
}

#header h1 a {
    padding-left: 50px;
    padding-top: 40px;
    letter-spacing: 4px;
    font-style: italic;
    color: white;
    line-height: 80px;
}

#menu ul {
    list-style-type: none;
}

#menu li {
    display: inline-block;
    padding-top: 30px;
}

#menu a {
    border: 1px solid red;
    padding: 10px;
    color: black;
}

#menu a:hover {
    background-color: white
}

#content {
    padding: 0 10px 0 10px;
}

#content .article {
    padding: 10px 10px;
    border-bottom: 1px solid grey;
    display: inline-block;
}

#content .article .image {
    float: left;
}

#content .article .image img {
    width: 200px;
    height: 150px;
}

#content .article .article-content {
    float: right;
    width: 700px;
}

#content .article .article-content p {
    padding: 10px 15px 10px 15px;
    text-indent: 1cm;
}

#content .article .article-content p:first-letter {
    font-size: 111%;
    font-weight: bold;
}

#content .article .article-content a {
    float: right;
}

#footer {
    height: 100px;
    background: grey;
    clear: both;
}

#footer p {
    text-align: center;
    line-height: 30px;
}

#footer a {
    color: black;
    font-style: italic
}